{{- /* Only generate authorized_keys for Workstation, Server, or MobileLab */ -}}
{{- if or (eq .role "workstation") (eq .role "mobilelab") (eq .role "server") -}}
{{-   if (env "BW_SESSION") -}}
{{-     $masterKey := (bitwarden "item" "ssh-key-master-ed25519") -}}
{{-     if $masterKey -}}
{{-       range $masterKey.fields -}}
{{-         if eq .name "public_key" -}}
# Master Key (Commander/Access from Laptop)
{{ .value }}
{{-         end -}}
{{-       end -}}
{{-     end -}}
{{-   end -}}
{{- end -}}
